attrs
Automat
black
certifi
cffi
charset-normalizer
chompjs
click
constantly
cryptography
cssselect
h2
hpack
hyperframe
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
mypy-extensions
parsel
pathspec
platformdirs
priority
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
queuelib
requests
Scrapy
service-identity
six
tomli
Twisted
typing_extensions
Unidecode
urllib3
w3lib
zope.interface
